{% extends 'layout.html.twig' %}

{% block stylesheets %}{% spaceless %}
    <link rel="stylesheet" href="{{asset('lib/select2/css/select2.min.css')}}">
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}{{ title }}{% endspaceless %}{% endblock %}

{% block page_title %}{% spaceless %}{{ title }}{% endspaceless %}{% endblock %}

{% block content %}{% spaceless %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Daftar Program</h3>
                <div class="box-tools col-md-7 col-xs-7 col-sm-7 col-lg-7 pull-right">
                    <div class="input-group input-group-sm">
                        {% if is_granted('add', code_to_menu('CAMPAIGN')) %}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger form-modal-action"><i class="fa fa-plus-circle"></i></button>
                            </div>
                        {% endif %}
                        <input type="text" name="table_search" class="form-control pull-right query-string" placeholder="Cari">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-danger search-action"><i class="fa fa-search-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding table-bordered table-hover table-striped">
                <table id="table-content" class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            {% if admin %}
                                <th>Klien</th>
                            {% endif %}
                            <th>Tipe</th>
                            <th>Nama</th>
                            <th>URL</th>
                            <th>Facebook Pixel ID</th>
                            <th>Pilihan</th>
                        </tr>
                    </thead>
                    <tbody class="table-content">
                        {% include 'campaign/table-content.html.twig' %}
                    </tbody>
                </table>
            </div>
            <div class="box box-footer">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 pull-left margin-r-5">
                    <button type="button" class="btn btn-danger refresh"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-right pagination-box">
                    {{ knp_pagination_render(campaigns) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default" id="form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title form-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" id="id" value="">
                    {% if admin %}
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Klien</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="client">
                                <option value="">---PILIH KLIEN---</option>
                                {% for i, data in clients %}
                                    <option value="{{ data.id }}">{{ data.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Klien</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="type">
                                <option value="">---PILIH TIPE---</option>
                                <option value="direct">DIRECT</option>
                                <option value="chat">CHAT</option>
                                <option value="form">FORM</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Nama</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Nama">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Facebook Pixel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="facebookPixel" placeholder="Facebook Pixel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Pesan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="greetingMessage" placeholder="Pesan">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-warning" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-danger save">Simpan</button>
            </div>
        </div>
    </div>
</div>

{% include 'default/notification_modal.html.twig' %}

<div class="modal modal-default" id="contact-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Daftar Kontak</h4>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm">
                    {% if is_granted('add', code_to_menu('CAMPAIGN')) %}
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger add-contact"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    {% endif %}
                    <input type="text" name="role_search" class="form-control pull-right contact-search" placeholder="Cari Kontak">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-danger contact-search-action"><i class="fa fa-search-plus"></i></button>
                    </div>
                </div>
                <div class="row table-responsive no-padding table-bordered table-hover table-striped">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>No. WhatsApp</th>
                        </tr>
                        <tbody class="contacts-content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="add-contact-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Tambah Kontak</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-left">
                    <select class="add-contact-select-box"></select>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 pull-right">
                    <button type="button" class="btn btn-danger add-campaign-contact">Tambah</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}{% endblock %}

{% block javascripts %}{% spaceless %}
<script src="{{ asset('lib/select2/js/select2.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
    $(window).ready(function () {
        localStorage.setItem('csrf_token', '{{ csrf_token('BIMA_CSRF_TOKEN') }}');

        new ClipboardJS('.copas');

        $('.select2-static').select2();

        $('.query-string').val('');

        $(document).on('click', '.form-modal-action', function () {
            $('.form-title').html('Tambah Program Baru');
            $('#form-modal').modal();
        });

        $(document).on('click', '.save', function () {
            let id = $('#id').val();
            let type = $('#type').val();
            let name = $('#name').val();
            let client = $('#client').val();
            let facebookPixel = $('#facebookPixel').val();
            let greetingMessage = $('#greetingMessage').val();

            $.post(Routing.generate('campaigns_save'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                id: id,
                type: type,
                name: name,
                client: client,
                facebookPixel: facebookPixel,
                greetingMessage: greetingMessage
            }, function (response) {
                if ('OK' === response.status) {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    $('#id').val('');
                    $('#type').val('');
                    $('#name').val('');
                    $('#client').val('');
                    $('#facebookPixel').val('');
                    $('#greetingMessage').val('');

                    $('#form-modal').modal('hide');

                    toastr['success']('Data berhasil disimpan.');

                    refreshTable(Routing.generate('campaigns_index'), '{{ title }}');
                } else {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    let listError = '<ul>';
                    $.each(response.errors, function (key, value) {
                        listError = listError + '<li><b> ' + value + '</b></li>';
                    });
                    listError = listError + '</ul>';

                    $('.error-body').html(listError);
                    $('.error-modal').modal();
                }
            });
        });

        $(document).on('shown.bs.modal', '#form-modal', function (e) {
            let relatedTarget = e.relatedTarget;
            let id = $(relatedTarget).data('primary');
            let container = $('.modal-content');

            container.whatsAppRandomLoader();

            if ('undefined' !== typeof id) {
                $.get(Routing.generate('campaigns_detail', {id : id}), function (response) {
                    let data = JSON.parse(response);
                    $('#id').val(data.id);
                    $('#type').val(data.type.id);
                    $('#name').val(data.name);
                    $('#client').val(data.client.id);
                    $('#facebookPixel').val(data.facebookPixel);
                    $('#greetingMessage').val(data.greetingMessage);

                    $('.select2-static').trigger('change');

                    $('.form-title').html('Edit Program');

                    container.trigger('destroy.whatsAppRandom.loader');
                });
            } else {
                container.trigger('destroy.whatsAppRandom.loader');
            }
        });

        $(document).on('click', '.delete', function () {
            $('#primaryId').val($(this).data('primary'));
            $('.delete-modal').modal();
        });

        $(document).on('click', '.report', function () {
            let slug = $(this).data('primary');
            window.location = Routing.generate('report_campaigns', {slug: slug});
        });

        $(document).on('click', '.notif-delete', function () {
            $('.delete-modal').modal('hide');
            $.post(Routing.generate('campaigns_remove', {id: $('#primaryId').val()}), {_csrf_token: localStorage.getItem('csrf_token')}, function (response) {

                toastr['success']('Data berhasil dihapus.');

                refreshTable(Routing.generate('campaigns_index'), '{{ title }}');

                localStorage.setItem('csrf_token', response._csrf_token);
            });
        });
        
        $(document).on('click', '.search-action', function () {
            refreshTable(Routing.generate('campaigns_index'), '{{ title }}', {q: $('.query-string').val()});
        });

        $(document).on('click', '.pagination-container a.btn-danger', function (e) {
            e.preventDefault();
            let url = jQuery(this).attr('href');

            refreshTable(url, '{{ title }}');
        });

        $(document).on('shown.bs.modal', '#contact-modal', function (e) {
            let relatedTarget = e.relatedTarget;
            let id = $(relatedTarget).data('primary');
            let container = $('#contact-modal .modal-content');

            localStorage.setItem('campaignId', id);

            container.whatsAppRandomLoader();
            $.get(Routing.generate('campaign_contacts', {campaignId: id}), function (response) {
                $('.contacts-content').html(response['table']);

                container.trigger('destroy.whatsAppRandom.loader');
            });
        });

        $(document).on('click', '.contact-search-action', function () {
            $.get(Routing.generate('campaign_contacts', {campaignId: localStorage.getItem('campaignId')}), {q: $('.contact-search').val()}, function (response) {
                $('.contacts-content').html(response['table']);

                $('.contact-modal').modal();
            });
        });

        $(document).on('click', '.add-contact', function () {
            let container = $('#add-contact-modal .modal-body');

            container.whatsAppRandomLoader();
            $.get(Routing.generate('campaign_unrelated_contacts', {campaignId: localStorage.getItem('campaignId')}), function (response) {
                var options = '<option value="">---PILIH KONTAK---</option>';

                $.each(JSON.parse(response), function (idx, val) {
                    options += '<option value="' + val.id + '">' + val.name + ' - ' + val.whatsAppNumber + '</option>';
                });

                let selectBox = $('.add-contact-select-box');

                selectBox.html(options);
                selectBox.select2();

                $('#add-contact-modal').modal();

                container.trigger('destroy.whatsAppRandom.loader');
            });
        });
        
        $(document).on('click', '.add-campaign-contact', function () {
            let contactId = $('.add-contact-select-box').val();

            $.post(Routing.generate('campaign_contacts_save'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                campaign: localStorage.getItem('campaignId'),
                contact: contactId
            }, function (response) {
                if ('OK' === response.status) {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    $('.add-contact-select-box').val('');

                    $('#add-contact-modal').modal('hide');

                    toastr['success']('Data berhasil disimpan.');

                    $('.contact-search-action').click();
                } else {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    let listError = '<ul>';
                    $.each(response.errors, function (key, value) {
                        listError = listError + '<li><b> ' + value + '</b></li>';
                    });
                    listError = listError + '</ul>';

                    $('.error-body').html(listError);
                    $('.error-modal').modal();
                }
            });
        });

        $(document).on('click', '.delete-contact', function () {
            let primary = $(this).data('primary');
            $.post(Routing.generate('campaign_contacts_remove', {contactId: primary, campaignId: localStorage.getItem('campaignId')}), {_csrf_token: localStorage.getItem('csrf_token')}, function (response) {

                toastr['success']('Data berhasil dihapus.');

                $('.contact-search-action').click();

                localStorage.setItem('csrf_token', response._csrf_token);
            });
        });
    });
</script>
{% endspaceless %}{% endblock %}
