{% extends 'layout.html.twig' %}

{% block stylesheets %}{% spaceless %}
    <link rel="stylesheet" href="{{asset('lib/select2/css/select2.min.css')}}">
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}{{ title }}{% endspaceless %}{% endblock %}

{% block page_title %}{% spaceless %}{{ title }}{% endspaceless %}{% endblock %}

{% block content %}{% spaceless %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Statistik Per Tanggal</h3>
            </div>
            <div class="box-body">
                <canvas id="per_tanggal" height="150"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Statistik Per Kontak</h3>
            </div>
            <div class="box-body">
                <canvas id="per_kontak" height="150"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Kumulatif</h3>
            </div>
            <div class="box-body">
                <canvas id="kumulatif" height="313"></canvas>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}{% endblock %}

{% block javascripts %}{% spaceless %}
<script src="{{ asset('js/chart.bundle.min.js') }}"></script>
<script>
    let labels = [];
    let data = [];
    let total = 0;

    let contactLabels = [];
    let contactData = [];

    {% for key, value in data %}
        labels.push('{{ key }}');
        data.push({{ value }});
        total += {{ value }};
    {% endfor %}

    {% for key, value in contact %}
        contactLabels.push('{{ value['nama'] }}');
        contactData.push({{ value['kunjungan'] }});
    {% endfor %}

    new Chart(document.getElementById('per_tanggal').getContext('2d'), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Kunjungan',
                data: data,
                backgroundColor: '#32cc9c',
                borderColor: 'grey',
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        let value = data.datasets[0].data[tooltipItem.index];
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');

                        return value;
                    }
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        userCallback: function(value) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');

                            return value;
                        }
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById('per_kontak').getContext('2d'), {
        type: 'bar',
        data: {
            labels: contactLabels,
            datasets: [{
                label: 'Pelanggan',
                data: contactData,
                backgroundColor: '#cc5816',
                borderColor: 'grey',
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        let value = data.datasets[0].data[tooltipItem.index];
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');

                        return value;
                    }
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        userCallback: function(value) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');

                            return value;
                        }
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById('kumulatif').getContext('2d'),{
        type: 'pie',
        data: {
            labels: ['Kunjuangan'],
            datasets: [{
                label: 'Kunjungan',
                data: [total],
                backgroundColor: '#5e6df8',
                borderColor: 'grey',
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        let value = data.datasets[0].data[tooltipItem.index];
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');
                        
                        return value;
                    }
                }
            },
            scales: {
                yAxes:[{
                    ticks: {
                        userCallback: function(value) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');

                            return value;
                        }
                    }
                }]
            },
            responsive: true
        }
    });
</script>
{% endspaceless %}{% endblock %}
